.rojo, .rosa, .amarillo, .violeta, .verde, .azul {
    color: white;
}
h1 {
    text-align: center;
    color: blue !important;
    font-size: 40px;
}

.rojo {
    background-color: firebrick;
}
.rosa {
    background-color: hotpink;
}
.amarillo {
    background-color: gold;
}
.violeta {
    background-color: blueviolet;
}
.verde {
    background-color: lime;
}
.azul {
    background-color: turquoise;
}

.borde_rojo{
    border: solid firebrick;
    border-width: 10px;/*tamaño*/
    border-radius: 20px;/*redondeado*/
}
.borde_rosa {
    border: 10px dashed hotpink;
}
.borde_amarillo {
    border: 10px double gold;
}
.borde_violeta {
    border: 10px dotted blueviolet;
}
.borde_verde{
    border: 10px groove lime;
}
.borde_azul{
    border: 10px ridge turquoise;
}
.borde_anaranjado{
    border: inset rgb(253, 93, 1);
    border-width: thick;/*puede ser thin, medium, thick - son tamaños estandar*/
}
.borde_gris{
    border: outset rgb(121, 121, 121);
    border-width: 10px 5px 3px;
}
.borde_oculto{
    border: 10px hidden;
}
.sin_borde{
    border: none;
}
.borde_mixto{
    border-style: double dashed dotted ridge;
    border-width: 10px 5px 15px 30px;
    border-color: lime blueviolet firebrick hotpink;
}